#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.text {
	font-size:7px;
}


path {
	stroke: red;
	stroke-width: 5px;
}

.site-icon {
  background: black;
  border:5px solid rgba(255,255,255,0.5);
  color: black;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
}