path,circle,rect,polygon,ellipse,line {
    vector-effect: non-scaling-stroke;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width: 100%; 
  height: 100%;
}


div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  display: none;
}

.text {
	font-size:7px;
}

.node {
    fill: blue;
    stroke: black;
    stroke-width: 1
    cursor: pointer;
    z-index: -9999;
}

.search-node {
    fill: red;
    stroke: black;
    stroke-width: 5;
    cursor: pointer;
}

#search-container {
  z-index: 8888;
  position: absolute;
  top: 0;
  left: 50px;
  margin: 10px;
}

#search-container #search input {
  padding: 5px;
  width: 200px;
}


.pathfind-node {
    fill: black;
    stroke: black;
    stroke-width: 1;
}

.circle {
  cursor: pointer;
}

path {
    stroke: brown;
    stroke-width: 2px;
    fill: none;
}

.arabic {
  font-size: 20px;
  font-family: 'DroidArabicNaskhRegular', 'Lateef', 'Geeza Pro', serif;
  padding: 0;
  direction: rtl;
}
.english{
  font-size: 20px;
  font-family: Brill, Gentium, Georgia, Arial, serif;
  direction: ltr;
}

.site-icon {
  background: black;
  border:5px solid rgba(255,255,255,0.5);
  color: black;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
}